body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid rgb(255, 255, 255);;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  /*this is how im creating the rows*/
  div.row {
    border: 1px solid;
    border-color: black; 
  }
/*changes the font size for the time within the div rows*/
/*This is how im centering the times within the rows*/
  div h1 {
      font-size: 15px;
      padding-top: 30px;
  }

  /*this is how im displaying the time and the text content on the same row*/
  .col-sm-12 {
      display: inline-flex;
      text-align: right;
      position: relative;
  }

  /*This is how im centered the p text (for when users input their calendar field*/
  /*also adjusting the placement of the text to be more to the right*/
  div p {
      padding-top: 27px;
      /*padding-left: 100px;*/
      position: relative;
      left: 100px;

  }

  .btn {
      background-color:#06AED5;
      position: relative;
      left: 700px;
      border-color: black
      
  }

 